src.dir=plugins
version=0.1.0
filename.debug=locale-manager-debug.js
filename.deploy=locale-manager.js

copyright.notice=/*!\n\
LocaleManager Plugin ${version}\n\
\n\
Copyright (c) 2013 [ninth avenue media, LLC] (mailto: paul.smith.iv@ninthavenuemedia.com)\n\
Open source under the [MIT License](http://en.wikipedia.org/wiki/MIT_License).\n\
*/\n\n

yui.dir=/path/to/yuicompressor
jsduck.dir=/path/to/jsduck