// Experiments

// GrooveSencha
/*$base-color: #3196FF;
$neutral-color: #222;
$base-gradient: flat;
$toolbar-background-gradient: matte;*/

// SenchaBook
/*$base-color: #3b5998;
$neutral-color: #627aad;
$base-gradient: flat;
$color-mode: light;
$include-highlights: false;*/

// Swiss
/*$base-color: #A09DBC;
$neutral-color: #eee;*/
/*$stroke-color: #000;*/
/*$base-gradient: flat;*/
/*$include-highlights: false;*/
/*$default-text-contrast: 100%;*/

/*$base-color: #A13B18;
$neutral-color: #303235;*/

// Monochrome
/*$neutral-color: #E0E6EF;*/

// Basic theme
/*$base-color: #d0d8da;
$neutral-color: #d0d8da;
$include-highlights: false;
$base-gradient: flat;
$stroke-color: $base-color;
$panel-base-color: $neutral-color;
$frame-base-color: lighten($neutral-color, 5%);
$panel-border-color: $neutral-color;*/

@import 'variables/variables/_core';

@import 'variables/variables/_focus';
@import 'variables/variables/_panel';
@import 'variables/variables/_grid';
@import 'variables/variables/_button';
@import 'variables/variables/_pickers';
@import 'variables/variables/_toolbar';
@import 'variables/variables/_form';
@import 'variables/variables/_menu';
@import 'variables/variables/_window';
@import 'variables/variables/_tabs';
@import 'variables/variables/_qtip';
@import 'variables/variables/_progress-bar';
@import 'variables/variables/_btn-group';
@import 'variables/variables/_boundlist';
@import 'variables/variables/_tree';
//@import 'variables/layout';
@import 'variables/variables/_loadmask';
@import 'variables/variables/_htmleditor';